img, iframe {
  display: block;
  margin: auto;
  width: 300px;
}



body {
  text-align: center;
  font-family: 'Arial';
  background-image: url("LeBron James Sunshine Filter.jpg");
  color: black;
  padding: 20px;
}



  
