img, iframe {
  display: block;
  margin: auto;
  width: 300px;
}
.round-age {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;

}


body {
  text-align: center;
  font-family: 'Arial';
  background-image: url("LeBron James Sunshine Filter.jpg");
  color: black;
  padding: 20px;
}



  
