img { /*selector (selects all img tags) */
    width: 600px;
    border: 5px solid #555;
}

body {
    /* centers everything with body tag (entire page)*/
    text-align: center;
    font-family: "Arial";
    background: rgb(228, 216, 166);
    color: rgb(88, 51, 2);
}

h1 {
    border-top: 3px dashed white;
    font-size: 40px;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a { /* navigation bar pages links/titles */
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover { /* color that shows up when u hover over it */
    color: #f39c12;
}